Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go checks
  - repo: local
    hooks:
      - id: go-vet-gateway
        name: go vet (gateway-go)
        entry: bash -c 'cd services/gateway-go && go vet ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-vet-orchestrator
        name: go vet (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go vet ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-test-gateway
        name: go test (gateway-go)
        entry: bash -c 'cd services/gateway-go && go test ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-test-orchestrator
        name: go test (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go test ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-build-gateway
        name: go build (gateway-go)
        entry: bash -c 'cd services/gateway-go && go build ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-build-orchestrator
        name: go build (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go build ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd services/frontend && npm run lint'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3018']  # Allow apk add without version pinning

chore: add coverage/ and *.out to .gitignore
  .gitignore
Due: none

feat(m4): demo mode with example flows, fix mentatctl dev run
  cli/mentatctl/main.py
  services/frontend/src/config/features.ts
  services/frontend/src/data/exampleFlows.ts
  services/frontend/src/hooks/useFlowLoader.ts
Due: frontend-lint

docs: mark M4 complete, update roadmap and worklog
  .loom/00-index.md
  .loom/50-worklog.md
  ROADMAP.md
Due: none

feat(m5-m6): run timeouts, retry policies, gates, webhooks, cron, cloning
  .loom/00-index.md
  .loom/30-implementation-plan.md
  AGENTS.md
  ROADMAP.md
  docs/agent-sdk.md
  k8s/grafana-dashboards.yaml
  k8s/kustomization.yaml
  k8s/minio.yaml
  k8s/orchestrator.yaml
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/panels/GraphPanel.tsx
  services/frontend/src/components/mission-control/panels/InspectorPanel.tsx
  services/frontend/src/components/mission-control/panels/RunsPanel.tsx
  services/frontend/src/nodes/GateNode.tsx
  services/frontend/src/nodes/index.ts
  services/frontend/src/services/api/orchestratorService.ts
  services/frontend/src/types/orchestrator.ts
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/config/config.go
  services/orchestrator-go/internal/flowstore/store.go
  services/orchestrator-go/internal/scheduler/cron.go
  services/orchestrator-go/internal/scheduler/m5m6_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/pkg/types/control.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix(k8s): use :latest image tags for Flux compatibility
  k8s/kustomization.yaml
Due: none

fix(k8s): add MinIO network policies, fix bucket-init job
  k8s/minio.yaml
  k8s/network-policies.yaml
Due: none

fix(k8s): use imagePullPolicy Always for :latest tags
  k8s/echoagent.yaml
  k8s/frontend.yaml
  k8s/gateway.yaml
  k8s/orchestrator.yaml
Due: none

fix(k8s): add nginx writable volumes to frontend deployment
  k8s/frontend.yaml
Due: none

docs: update loom context for deploy + add M7 plan
  .loom/00-index.md
  .loom/30-implementation-plan.md
  .loom/50-worklog.md
  ROADMAP.md
Due: none

feat(orchestrator): implement M7 multi-user & API maturity
  .loom/00-index.md
  .loom/00-mcp-inventory.md
  .loom/00-workspace-snapshot.md
  .loom/50-worklog.md
  docs/roadmap-reconciliation-2026-02-16.md
  services/gateway-go/main.go
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_apikey.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_m7_test.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/auth/apikey.go
  services/orchestrator-go/internal/auth/middleware.go
  services/orchestrator-go/internal/flowstore/store.go
  services/orchestrator-go/internal/runstore/memory.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/runstore/store.go
  services/orchestrator-go/internal/scheduler/callback.go
  services/orchestrator-go/internal/scheduler/conditional_test.go
  services/orchestrator-go/internal/scheduler/cron.go
  services/orchestrator-go/internal/scheduler/foreach_test.go
  services/orchestrator-go/internal/scheduler/m5m6_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/pkg/types/run.go
  tests/load/orchestrator.js
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator

feat(observability): implement M9.1–M9.5 span enrichment, trace correlation, and trace query proxy
  .loom/00-index.md
  .loom/30-implementation-plan.md
  ROADMAP.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/roadmap-reconciliation-2026-02-17.md
  k8s/gateway.yaml
  observability/grafana/provisioning/datasources/tempo.yaml
  observability/tempo/tempo.yaml
  services/gateway-go/main.go
  services/gateway-go/traces/handler.go
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_apikey.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/runstore/memory.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/runstore/store.go
  services/orchestrator-go/internal/scheduler/callback.go
  services/orchestrator-go/internal/scheduler/conditional.go
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator

docs: update roadmap and plan to reflect M9.1-M9.5 completion
  .loom/00-index.md
  .loom/30-implementation-plan.md
  ROADMAP.md
Due: none

feat(frontend): implement M9.6 trace waterfall UI — TracePanel, traceService, View Trace button
  .loom/00-index.md
  .loom/30-implementation-plan.md
  ROADMAP.md
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/panels/RunsPanel.tsx
  services/frontend/src/components/mission-control/panels/TracePanel.tsx
  services/frontend/src/services/api/index.ts
  services/frontend/src/services/api/traceService.ts
  services/frontend/src/types/orchestrator.ts
Due: frontend-lint

fix(ci): optimize build pipeline — .dockerignore, parallel jobs, zstd, retry
  .gitlab-ci.yml
  agents/ctm-cogpack/.dockerignore
  agents/psyche-sim/.dockerignore
  services/agents/echo/.dockerignore
  services/frontend/.dockerignore
  services/gateway-go/.dockerignore
  services/orchestrator-go/.dockerignore
Due: none

test(frontend): add TracePanel and traceService test coverage — 40 tests, 50% coverage
  services/frontend/src/components/mission-control/panels/__tests__/TracePanel.test.tsx
  services/frontend/src/services/api/__tests__/traceService.test.ts
Due: frontend-lint

feat(k8s): harden echo agent Dockerfile and add K8s job driver tests (M5.1)
  services/agents/echo/Dockerfile
  services/orchestrator-go/internal/k8s/job_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): wire K8s job driver into scheduler via ORCH_DRIVER config (M5.1)
  .loom/30-implementation-plan.md
  .loom/50-worklog.md
  k8s/echoagent.yaml
  k8s/orchestrator.yaml
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/config/config.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(k8s): add ORCH_RUNSTORE=redis and trigger rollout for K8s driver image
  k8s/orchestrator.yaml
Due: none

fix(ci): fix Redis URL scheme and remove Docker Hub syntax directive
  k8s/orchestrator.yaml
  services/frontend/Dockerfile
  services/gateway-go/Dockerfile
  services/orchestrator-go/Dockerfile
Due: none

docs: add site-ready mentatlab docs and loom context updates
  .loom/00-mcp-inventory.md
  .loom/10-research.md
  .loom/20-product-spec.md
  .loom/30-implementation-plan.md
  .loom/50-worklog.md
  docs/README.md
  docs/site/README.md
  docs/site/api-reference.md
  docs/site/architecture.md
  docs/site/deployment.md
  docs/site/getting-started.md
Due: none

docs: refresh loom workspace snapshot
  .loom/00-workspace-snapshot.md
Due: none

fix(scheduler): detach run context from HTTP request to prevent immediate cancellation
  k8s/orchestrator.yaml
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(ci): remove Docker Hub syntax directive from ctm-cogpack Dockerfile
  agents/ctm-cogpack/Dockerfile
Due: none

fix(gateway): include traces package in Docker build context
  services/gateway-go/.dockerignore
Due: none

chore(k8s): bump orchestrator restart trigger for scheduler fix
  k8s/orchestrator.yaml
Due: none

fix(orchestrator): prevent panic on K8s Job creation and handle ReactFlow graph format
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/k8s/job.go
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

chore(k8s): bump orchestrator restart trigger for K8s Job fix
  k8s/orchestrator.yaml
Due: none

docs(roadmap): expand roadmap with M10-M15 milestones
  .loom/00-index.md
  ROADMAP.md
  docs/roadmap-reconciliation-2026-02-19.md
Due: none

feat(orchestrator): add DAG cycle detection and graph validation (M10.4)
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/validator/graph.go
  services/orchestrator-go/internal/validator/graph_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(gateway,frontend): add reconnection resilience for WebSocket and SSE (M10.5)
  services/frontend/src/services/streaming/orchestratorSSE.ts
  services/gateway-go/hub/client.go
  services/gateway-go/hub/hub.go
  services/gateway-go/hub/hub_test.go
Due: go-vet-gateway, go-test-gateway, go-build-gateway, frontend-lint

fix(ci): use :latest tag in deploy stage instead of unreliable SHA tag
  .gitlab-ci.yml
Due: none

fix(tech-debt): execute Wave 1 remediation — data-loss fixes, K8s hardening, test coverage
  .gitlab-ci.yml
  .loom/tech-debt-backlog.md
  .loom/tech-debt-inventory.json
  .loom/tech-debt-inventory.md
  .loom/tech-debt-plan.md
  .loom/tech-debt-priority.md
  k8s/frontend.yaml
  k8s/kustomization.yaml
  k8s/redis.yaml
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/auth/auth_test.go
  services/orchestrator-go/internal/config/config.go
  services/orchestrator-go/internal/config/config_test.go
  services/orchestrator-go/internal/dataflow/dataflow_test.go
  services/orchestrator-go/internal/driver/driver_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(tech-debt): add gateway test coverage and fix tracing init (DEBT-010)
  .loom/tech-debt-backlog.md
  services/gateway-go/middleware/errors_test.go
  services/gateway-go/middleware/logging_test.go
  services/gateway-go/middleware/tracing_test.go
  services/gateway-go/traces/handler_test.go
  services/gateway-go/tracing/tracing.go
  services/gateway-go/tracing/tracing_test.go
Due: go-vet-gateway, go-test-gateway, go-build-gateway

fix(tech-debt): add health checks, resource limits, startup ordering to dev compose (DEBT-016)
  .loom/tech-debt-backlog.md
  docker-compose.dev.yml
Due: none

fix(tech-debt): remove legacy store re-exports and migrate imports (DEBT-014)
  .loom/tech-debt-backlog.md
  services/frontend/src/components/ConfigurationPanel.tsx
  services/frontend/src/components/StreamingPage.new.tsx
  services/frontend/src/components/StreamingPage.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/layout/__tests__/StatusBar.spec.tsx
  services/frontend/src/components/mission-control/menus/NodeContextMenu.tsx
  services/frontend/src/components/mission-control/overlays/ContractOverlay.tsx
  services/frontend/src/components/mission-control/overlays/__tests__/ContractOverlay.spec.tsx
  services/frontend/src/components/mission-control/panels/GraphPanel.tsx
  services/frontend/src/components/mission-control/panels/IssuesPanel.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
  services/frontend/src/components/multimodal/FileUploader/FileUploader.tsx
  services/frontend/src/components/multimodal/FileUploader/hooks/useFileUpload.ts
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/hooks/useAutoSave.ts
  services/frontend/src/services/streamingService.enhanced.ts
  services/frontend/src/services/streamingService.new.ts
  services/frontend/src/store.ts
  services/frontend/src/store/immerSetup.ts
  services/frontend/src/store/streamingStore.ts
  services/frontend/src/stores/index.ts
  services/frontend/src/stores/media/index.ts
Due: frontend-lint

refactor(tech-debt): split handlers.go into domain files (DEBT-001)
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_agents.go
  services/orchestrator-go/internal/api/handlers_artifacts.go
  services/orchestrator-go/internal/api/handlers_flows.go
  services/orchestrator-go/internal/api/handlers_ops.go
  services/orchestrator-go/internal/api/handlers_runs.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(tech-debt): add runstore_fallback_total metric for Redis fallback (DEBT-003)
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/metrics/metrics.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

refactor(tech-debt): split scheduler.go into focused files (DEBT-008)
  services/orchestrator-go/internal/scheduler/events.go
  services/orchestrator-go/internal/scheduler/gate.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/run_lifecycle.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(tech-debt): add tests for auth, driver, dataflow packages (DEBT-002)
  services/orchestrator-go/go.mod
  services/orchestrator-go/go.sum
  services/orchestrator-go/internal/auth/apikey_test.go
  services/orchestrator-go/internal/dataflow/dataflow_service_test.go
  services/orchestrator-go/internal/driver/driver_k8s_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator
