Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go checks
  - repo: local
    hooks:
      - id: go-vet-gateway
        name: go vet (gateway-go)
        entry: bash -c 'cd services/gateway-go && go vet ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-vet-orchestrator
        name: go vet (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go vet ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-test-gateway
        name: go test (gateway-go)
        entry: bash -c 'cd services/gateway-go && go test ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-test-orchestrator
        name: go test (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go test ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-build-gateway
        name: go build (gateway-go)
        entry: bash -c 'cd services/gateway-go && go build ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-build-orchestrator
        name: go build (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go build ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd services/frontend && npm run lint'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3018']  # Allow apk add without version pinning

minio: cut over to non-destructive minio-data-v2 pvc
  k8s/minio.yaml
Due: none

ci: route pipeline base images through Harbor mirror
  .gitlab-ci.yml
Due: none

build: default CI Dockerfiles to Harbor mirror bases
  agents/ctm-cogpack/Dockerfile
  agents/psyche-sim/Dockerfile
  services/agents/echo/Dockerfile
  services/frontend/Dockerfile
  services/gateway-go/Dockerfile
  services/orchestrator-go/Dockerfile
Due: none

ci: use Harbor mirror for e2e compose dependencies
  docker-compose.yml
Due: none

k8s: run MinIO from Harbor cache and document guardrails
  docs/site/deployment.md
  k8s/minio.yaml
Due: none

ci: harden frontend npm install step for runner flakiness
  .gitlab-ci.yml
Due: none

fix(frontend): align API clients to gateway base URL
  services/frontend/src/services/api/httpClient.ts
  services/frontend/src/services/api/orchestratorService.ts
  services/frontend/src/services/api/streaming/orchestratorSSE.ts
  services/frontend/src/services/api/traceService.ts
  services/frontend/src/transport/connection-manager.ts
Due: frontend-lint

feat(orchestrator): add MCP tools inventory endpoints
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_mcp.go
  services/orchestrator-go/internal/api/handlers_mcp_test.go
  services/orchestrator-go/internal/api/routes.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(frontend): add getApiBaseUrl to orchestrator mocks
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
  services/frontend/src/services/api/__tests__/orchestratorService.spec.ts
  services/frontend/src/services/api/__tests__/traceService.test.ts
  services/frontend/src/services/api/streaming/__tests__/orchestratorSSE.spec.ts
Due: frontend-lint

fix(orchestrator): preserve MCP payload in flow-to-plan mapping
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(int-003): add loom MCP executor and direct-run payload mapping
  agents/loom-mcp-executor/__init__.py
  agents/loom-mcp-executor/main.py
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/layout/__tests__/WorkspaceProvider.test.tsx
  services/orchestrator-go/internal/registry/memory.go
  services/orchestrator-go/internal/registry/memory_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix(int-006): remove unsupported retry/checkpoint panel API calls
  services/frontend/src/components/mission-control/panels/GraphPanel.tsx
  services/frontend/src/components/mission-control/panels/RunsPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/GraphPanel.test.tsx
  services/frontend/src/components/mission-control/panels/__tests__/RunsPanel.spec.tsx
Due: frontend-lint

feat(int-004): unify agent INPUT_SPEC/INPUT_CONTEXT contract
  agents/common/input_contract.py
  agents/ctm-cogpack/src/main.py
  agents/echo/main.py
  agents/loom-mcp-executor/main.py
  agents/psyche-sim/src/main.py
  agents/test_input_contract.py
Due: none

fix(orchestrator): fail fast on unresolved command/image (INT-005)
  services/orchestrator-go/internal/driver/driver_k8s_test.go
  services/orchestrator-go/internal/driver/k8s.go
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/foreach_test.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/node_exec_failfast_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): wire run lifecycle to loom agent-context sessions (INT-007)
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/config/config.go
  services/orchestrator-go/internal/config/config_test.go
  services/orchestrator-go/internal/scheduler/run_lifecycle.go
  services/orchestrator-go/internal/scheduler/run_session.go
  services/orchestrator-go/internal/scheduler/run_session_loom.go
  services/orchestrator-go/internal/scheduler/run_session_loom_test.go
  services/orchestrator-go/internal/scheduler/run_session_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(integration): add flexinfer node templates and runtime contracts (INT-008)
  agents/loom-mcp-executor/main.py
  agents/loom-mcp-executor/test_main.py
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/components/mission-control/canvas/__tests__/NodePalette.test.tsx
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/layout/__tests__/WorkspaceProvider.test.tsx
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

feat(integration): add loom workflow bridge import/export endpoints (INT-010)
  services/frontend/src/services/api/__tests__/flowService.spec.ts
  services/frontend/src/services/api/flowService.ts
  services/orchestrator-go/internal/api/handlers_flow_bridge.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/api/routes.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

feat(ci): add MCP/context/FlexInfer smoke gates (INT-011)
  .gitlab-ci.yml
  agents/loom-mcp-executor/test_main.py
  services/orchestrator-go/internal/api/handlers_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(frontend): status UX cleanup (M16.2/M16.5/M16.6)
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/config/features.ts
  services/frontend/src/index.css
Due: frontend-lint

chore: commit pending whitespace and config fixes
  agents/common/base.py
  services/frontend/tsconfig.json
  services/frontend/vite-env.d.ts
Due: frontend-lint

refactor(frontend): consolidate transport layer (M16.1/M16.3/M16.4)
  services/frontend/src/components/StreamingPage.new.tsx
  services/frontend/src/hooks/useAutoSave.ts
  services/frontend/src/hooks/useFlowLoader.ts
  services/frontend/src/services/api/__tests__/flowService.spec.ts
  services/frontend/src/services/api/flowService.ts
Due: frontend-lint

fix(k8s): resolve DEBT-013, DEBT-007, DEBT-006
  k8s/configmap-urls.yaml
  k8s/frontend.yaml
  k8s/gateway.yaml
  k8s/kustomization.yaml
  k8s/minio-secret.yaml
  k8s/orchestrator.yaml
Due: none

test(frontend): add regression tests for banner and retry (M16.7/M16.8)
  services/frontend/src/components/ui/__tests__/ConnectionStatusBanner.test.tsx
Due: frontend-lint

feat(agents): add FlexInfer adapter agent (Phase 2A)
  agents/flexinfer-adapter/Dockerfile
  agents/flexinfer-adapter/__init__.py
  agents/flexinfer-adapter/main.py
  agents/flexinfer-adapter/manifest.yaml
  agents/flexinfer-adapter/requirements.txt
  services/orchestrator-go/internal/registry/memory.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): add MCPConfig to NodeSpec for typed MCP metadata
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(sdk): add TypeScript agent SDK and mentatctl template (Phase 3D)
  cli/mentatctl/templates/typescript/Dockerfile
  cli/mentatctl/templates/typescript/manifest.yaml
  cli/mentatctl/templates/typescript/package.json
  cli/mentatctl/templates/typescript/src/main.ts
  cli/mentatctl/templates/typescript/tsconfig.json
  sdk/typescript/package.json
  sdk/typescript/src/agent.ts
  sdk/typescript/src/emit.ts
  sdk/typescript/src/index.ts
  sdk/typescript/tsconfig.json
Due: none

feat(registry): add structured CapabilitySpec to agent registry (Phase 3C)
  agents/ctm-cogpack/manifest.yaml
  agents/psyche-sim/manifest.yaml
  services/orchestrator-go/internal/registry/memory.go
  services/orchestrator-go/internal/registry/registry.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(frontend+orchestrator): wire progress and heartbeat events (Phase 3B)
  services/frontend/src/components/mission-control/panels/graph/useRunGraph.ts
  services/orchestrator-go/pkg/types/event.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

feat(sdk): structured error, progress, and heartbeat events (Phase 3A)
  agents/common/base.py
  agents/common/emit.py
  services/orchestrator-go/internal/scheduler/node_exec.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(frontend): FlexInfer canvas integration (Phase 2C)
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/types/graph.ts
Due: frontend-lint

feat(orchestrator): add API audit logging middleware (M13)
  services/orchestrator-go/internal/api/audit.go
  services/orchestrator-go/internal/api/audit_test.go
  services/orchestrator-go/internal/api/routes.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): wire per-node context updates into agent-context sessions (INT-007)
  k8s/orchestrator.yaml
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/run_session.go
  services/orchestrator-go/internal/scheduler/run_session_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

Fix mission control view layouts
  services/frontend/src/components/StreamingCanvas.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/layout/__tests__/StatusBar.spec.tsx
  services/frontend/src/components/ui/PanelShell.tsx
Due: frontend-lint

feat(orchestrator): finalize UX canvas flexinfer native exec and mcp contracts
  .loom/00-index.md
  .loom/00-mcp-inventory.md
  .loom/00-workspace-snapshot.md
  .loom/10-research.md
  .loom/30-implementation-plan.md
  services/frontend/src/services/api/__tests__/orchestratorService.spec.ts
  services/frontend/src/services/api/orchestratorService.ts
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/factories/factories.go
  services/orchestrator-go/internal/scheduler/expr.go
  services/orchestrator-go/internal/scheduler/node_exec.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix(k8s): update kustomization to deploy 'latest' images via GitOps
  k8s/kustomization.yaml
Due: none

fix(frontend): resolve reactflow maximum update depth infinite loop
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
Due: frontend-lint

build: pin alpine version to 3.21 to fix harbor cache resolution
  services/gateway-go/Dockerfile
  services/orchestrator-go/Dockerfile
Due: none

feat/fix(frontend): Resolve M16 issues and NodePalette integration
  .loom/31-m16-issue-checklist.md
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/components/mission-control/canvas/__tests__/NodePalette.test.tsx
  services/frontend/src/components/mission-control/panels/IssuesPanel.tsx
Due: frontend-lint
