Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

go-vet-gateway:
  name: go vet (gateway-go)
  entry: bash -c 'cd services/gateway-go && go vet ./...'
  language: system
  pass_filenames: false

go-vet-orchestrator:
  name: go vet (orchestrator-go)
  entry: bash -c 'cd services/orchestrator-go && go vet ./...'
  language: system
  pass_filenames: false

go-test-gateway:
  name: go test (gateway-go)
  entry: bash -c 'cd services/gateway-go && go test ./...'
  language: system
  pass_filenames: false

go-test-orchestrator:
  name: go test (orchestrator-go)
  entry: bash -c 'cd services/orchestrator-go && go test ./...'
  language: system
  pass_filenames: false

go-build-gateway:
  name: go build (gateway-go)
  entry: bash -c 'cd services/gateway-go && go build ./...'
  language: system
  pass_filenames: false

go-build-orchestrator:
  name: go build (orchestrator-go)
  entry: bash -c 'cd services/orchestrator-go && go build ./...'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

feat(frontend): align API contracts with backend and add Zod validation
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/__tests__/contracts/event-parsing.test.ts
  services/frontend/src/__tests__/contracts/run-api.test.ts
  services/frontend/src/components/mission-control/panels/__tests__/RunsPanel.spec.tsx
  services/frontend/src/components/mission-control/panels/graph/useRunGraph.ts
  services/frontend/src/schemas/event.schema.ts
  services/frontend/src/schemas/index.ts
  services/frontend/src/schemas/run.schema.ts
  services/frontend/src/services/api/orchestratorService.ts
  services/frontend/src/types/orchestrator.ts
  services/frontend/vitest.config.ts
Due: frontend-lint

feat(frontend): integrate Zod validation into event parser
  services/frontend/src/services/streaming/parse.ts
Due: frontend-lint

feat(frontend): add event type handlers to console for all backend event types
  services/frontend/src/components/mission-control/panels/console/useRunConsole.ts
Due: frontend-lint

chore(frontend): enable noUncheckedIndexedAccess for safer index access
  services/frontend/tsconfig.json
Due: none

docs(orchestrator): add OpenAPI 3.0 specification
  services/orchestrator-go/api/openapi.yaml
Due: none

refactor(frontend): create canonical api-contracts.ts for type consolidation
  services/frontend/src/types/api-contracts.ts
  services/frontend/src/types/index.ts
  services/frontend/src/types/orchestrator.ts
Due: frontend-lint

refactor(frontend): consolidate state management into domain stores
  services/frontend/src/store.ts
  services/frontend/src/store/index.ts
  services/frontend/src/stores/canvas/index.ts
  services/frontend/src/stores/flow/index.ts
  services/frontend/src/stores/index.ts
  services/frontend/src/stores/layout/index.ts
  services/frontend/src/stores/streaming/index.ts
  services/frontend/src/stores/sync/index.ts
Due: frontend-lint

feat(frontend): add transport layer with event batching and fallback
  services/frontend/src/transport/connection-manager.ts
  services/frontend/src/transport/event-pipeline.ts
  services/frontend/src/transport/index.ts
Due: frontend-lint

feat(frontend): add useStreamingTransport hook for store integration
  services/frontend/src/hooks/index.ts
  services/frontend/src/hooks/useStreamingTransport.ts
Due: frontend-lint

chore(frontend): add react-resizable-panels for Phase 3 layout
  services/frontend/package-lock.json
  services/frontend/package.json
Due: none

feat(frontend): add compound layout components for Phase 3 refactor
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/layout/LeftSidebar.tsx
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
Due: frontend-lint

chore(security): stop tracking local env and add sops rules
  .gitignore
  .sops.yaml
  services/frontend/.env.local.example
Due: none

chore(mcp): ignore local tooling configs
  .gitignore
Due: none

feat(frontend): add refactored MissionControlLayout with compound components
  services/frontend/src/components/mission-control/layout/MissionControlLayout.new.tsx
  services/frontend/src/components/mission-control/layout/index.ts
Due: frontend-lint

fix(frontend): fix PanelGroup structure for react-resizable-panels
  services/frontend/src/App.tsx
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/layout/LeftSidebar.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.new.tsx
Due: frontend-lint

style(frontend): improve UI styling for light/dark modes
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/panels/ConsolePanel.tsx
  services/frontend/src/components/ui/checkbox.tsx
  services/frontend/src/index.css
Due: frontend-lint

refactor(frontend): remove legacy layout, consolidate Phase 3 components
  services/frontend/src/components/mission-control/layout/MissionControlLayout.new.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/layout/index.ts
Due: frontend-lint

chore: ignore playwright mcp artifacts
  .gitignore
Due: none

feat(frontend): add virtualized console list for performance
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/components/mission-control/panels/ConsolePanel.tsx
  services/frontend/src/components/mission-control/panels/console/ConsoleVirtualList.tsx
Due: frontend-lint

feat(frontend): add bidirectional console-timeline event correlation
  services/frontend/src/components/mission-control/panels/ConsolePanel.tsx
  services/frontend/src/components/mission-control/panels/TimelinePanel.tsx
Due: frontend-lint

feat(frontend): add NodePalette, QuickAddMenu, and workflow shortcuts
  services/frontend/src/components/mission-control/canvas/CanvasDropZone.tsx
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/components/mission-control/canvas/QuickAddMenu.tsx
  services/frontend/src/components/mission-control/canvas/index.ts
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/hooks/index.ts
  services/frontend/src/hooks/useCanvasDrop.ts
Due: frontend-lint

refactor(frontend): replace react-flow-renderer imports with reactflow
  services/frontend/src/nodes/ChatNode.tsx
  services/frontend/src/nodes/PythonCodeNode.tsx
Due: frontend-lint

fix(ci): use ci-builder image and proper git cloning for external runners
  .gitlab-ci.yml
Due: none

chore(branding): refresh repo assets
  assets/banner.png
  assets/header.svg
  assets/icon.png
Due: none

deps: add renovate.json
  renovate.json
Due: none

fix(ci): fix e2e-test Harbor access and deploy.sh Go references
  .gitlab-ci.yml
  .loom/50-worklog.md
  k8s/deploy.sh
Due: none

fix(api): align frontend API paths with Go backend routes
  .loom/00-index.md
  services/frontend/src/services/api/orchestratorService.ts
  services/frontend/src/services/api/streaming/orchestratorSSE.ts
  services/frontend/src/services/api/streamingService.ts
  services/orchestrator-go/internal/api/handlers.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

feat(orchestrator): add agent command resolution for M1.1
  .loom/50-worklog.md
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/registry/memory.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(frontend): wire canvas state to real run execution
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/types/orchestrator.ts
Due: frontend-lint

docs(loom): update worklog and index with M1 progress
  .loom/00-index.md
  .loom/50-worklog.md
Due: none

fix(ci): use CI/CD variables for Harbor auth in e2e-test
  .gitlab-ci.yml
Due: none

docs(loom): document e2e Harbor auth root cause and fix
  .loom/50-worklog.md
Due: none

feat: complete M1 remainders and M2 workflow features
  .loom/00-index.md
  .loom/50-worklog.md
  ROADMAP.md
  docs/v1.0_milestone_spec.md
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/overlays/ContractOverlay.tsx
  services/frontend/src/components/mission-control/panels/AgentBrowser.tsx
  services/frontend/src/components/mission-control/panels/TimelinePanel.tsx
  services/frontend/src/hooks/useAgentList.ts
  services/frontend/src/hooks/useAgentSchemas.ts
  services/frontend/src/hooks/useFlowLoader.ts
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix(ci): use :latest tag for e2e-test images
  .gitlab-ci.yml
Due: none

feat: complete M3 production hardening, M2 workflow, and M1 remainders
  .gitlab-ci.yml
  .loom/00-index.md
  .loom/50-worklog.md
  ROADMAP.md
  docs/roadmap-reconciliation-2026-02-12.md
  docs/roadmap-reconciliation-2026-02-14.md
  docs/roadmap-reconciliation-2026-02-15.md
  k8s/echoagent.yaml
  k8s/frontend.yaml
  k8s/gateway.yaml
  k8s/orchestrator.yaml
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/gateway-go/main.go
  services/gateway-go/middleware/logging.go
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/api/middleware.go
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/api/sse.go
  services/orchestrator-go/internal/config/config.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

fix(ci): add @vitest/coverage-v8 for CI test coverage reporting
  services/frontend/package-lock.json
  services/frontend/package.json
Due: none

feat(m4): developer experience — archive specs, Go template, examples, README
  .loom/00-index.md
  .loom/50-worklog.md
  README.md
  ROADMAP.md
  cli/mentatctl/agent_commands.py
  cli/mentatctl/templates/go/Dockerfile
  cli/mentatctl/templates/go/go.mod
  cli/mentatctl/templates/go/manifest.yaml
  cli/mentatctl/templates/go/src/main.go
  docs/archive/milestone-specs/mvp-roadmap.md
  docs/archive/milestone-specs/pr-d1-plan.md
  docs/archive/milestone-specs/v1.0_milestone_spec.md
  docs/archive/milestone-specs/v1.0_milestone_summary.md
  docs/archive/milestone-specs/v1.0_pki_implementation_guide.md
  docs/archive/milestone-specs/v1.0_wasm_runtime_implementation_guide.md
  docs/archive/milestone-specs/v1.1_milestone_spec.md
  docs/archive/milestone-specs/v1.1_milestone_summary.md
  docs/archive/milestone-specs/v2.0_milestone_spec.md
  docs/archive/milestone-specs/v2.0_milestone_spec_part2.md
  docs/archive/milestone-specs/v2.0_milestone_summary.md
  docs/archive/milestone-specs/webui_beta_gap_analysis.md
  docs/archive/milestone-specs/webui_rearchitecture_plan.md
  examples/conditional_routing.json
  examples/data_pipeline.json
  examples/foreach_batch.json
Due: none

docs: add output event type to agent-sdk.md
  docs/agent-sdk.md
Due: none

docs(m4): update docs index, add output event type to agent-sdk
  docs/README.md
Due: none

Path conditions:
  go-vet-gateway: any of: ^services/gateway-go/.*\.go$
  go-vet-orchestrator: any of: ^services/orchestrator-go/.*\.go$
  go-test-gateway: any of: ^services/gateway-go/.*\.go$
  go-test-orchestrator: any of: ^services/orchestrator-go/.*\.go$
  go-build-gateway: any of: ^services/gateway-go/.*\.go$
  go-build-orchestrator: any of: ^services/orchestrator-go/.*\.go$
  frontend-lint: any of: ^services/frontend/.*\.(ts|tsx|js|jsx)$
