Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

go-vet-gateway:
  name: go vet (gateway-go)
  entry: bash -c 'cd services/gateway-go && go vet ./...'
  language: system
  pass_filenames: false

go-vet-orchestrator:
  name: go vet (orchestrator-go)
  entry: bash -c 'cd services/orchestrator-go && go vet ./...'
  language: system
  pass_filenames: false

go-test-gateway:
  name: go test (gateway-go)
  entry: bash -c 'cd services/gateway-go && go test ./...'
  language: system
  pass_filenames: false

go-test-orchestrator:
  name: go test (orchestrator-go)
  entry: bash -c 'cd services/orchestrator-go && go test ./...'
  language: system
  pass_filenames: false

go-build-gateway:
  name: go build (gateway-go)
  entry: bash -c 'cd services/gateway-go && go build ./...'
  language: system
  pass_filenames: false

go-build-orchestrator:
  name: go build (orchestrator-go)
  entry: bash -c 'cd services/orchestrator-go && go build ./...'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd services/frontend && npm run lint'
  language: system
  pass_filenames: false

feat(frontend): unify live connection ownership
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
Due: frontend-lint

feat(tech-debt): add circuit breaker for Redis and K8s clients (DEBT-015)
  services/orchestrator-go/go.mod
  services/orchestrator-go/go.sum
  services/orchestrator-go/internal/k8s/client.go
  services/orchestrator-go/internal/k8s/client_breaker_test.go
  services/orchestrator-go/internal/metrics/metrics.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/runstore/redis_breaker_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(frontend): mock streaming store in WorkspaceProvider tests
  services/frontend/src/components/mission-control/layout/__tests__/WorkspaceProvider.test.tsx
Due: frontend-lint

test(tech-debt): boost auth/driver/dataflow coverage to 80%+ (DEBT-002)
  services/orchestrator-go/go.mod
  services/orchestrator-go/go.sum
  services/orchestrator-go/internal/auth/auth_test.go
  services/orchestrator-go/internal/dataflow/dataflow_test.go
  services/orchestrator-go/internal/driver/driver_k8s_test.go
  services/orchestrator-go/internal/driver/driver_test.go
  services/orchestrator-go/internal/k8s/client.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(ci): use :latest tag in deploy stage, not unreliable SHA tag (#50)
  .gitlab-ci.yml
  k8s/kustomization.yaml
Due: none

fix(frontend): canonicalize connection status to single banner (#43)
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
Due: frontend-lint

refactor(frontend): wire StreamingCanvas to streaming store (#44)
  services/frontend/src/components/StreamingCanvas.tsx
Due: frontend-lint

fix(frontend): normalize URL defaults, remove localhost:8000 drift (#45)
  services/frontend/src/config/__tests__/orchestrator.test.ts
  services/frontend/src/config/orchestrator.ts
  services/frontend/src/services/api/apiService.ts
  services/frontend/src/services/api/websocketClient.ts
  services/frontend/src/services/streamingService.new.ts
Due: frontend-lint

feat(frontend): gate legacy /streaming route behind feature flag
  services/frontend/src/App.tsx
  services/frontend/src/config/features.ts
Due: frontend-lint

feat(frontend): standardize visual tokens and panel chrome
  services/frontend/src/components/StreamingCanvas.tsx
  services/frontend/src/components/mission-control/overlays/LineageOverlay.tsx
  services/frontend/src/components/mission-control/overlays/PolicyOverlay.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/components/ui/Badge.tsx
  services/frontend/src/components/ui/Card.tsx
  services/frontend/src/components/ui/CommandPalette.tsx
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/components/ui/PanelShell.tsx
  services/frontend/src/components/ui/__tests__/Badge.test.tsx
  services/frontend/src/components/ui/__tests__/Card.test.tsx
  services/frontend/src/index.css
  services/frontend/tailwind.config.js
Due: frontend-lint

test(frontend): add connection UX regression tests
  services/frontend/src/components/mission-control/layout/__tests__/ConnectionRetry.test.tsx
  services/frontend/src/components/ui/__tests__/ConnectionStatusBanner.test.tsx
Due: frontend-lint

docs(frontend): capture M16 visual QA baseline
  .loom/m16-visual-qa-notes.md
  services/frontend/e2e/visual-qa-m16.spec.ts
Due: frontend-lint

refactor(go): extract factories, apply functional options and strategy patterns
  services/gateway-go/hub/hub.go
  services/gateway-go/main.go
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/api/handlers_runs.go
  services/orchestrator-go/internal/factories/factories.go
  services/orchestrator-go/internal/scheduler/conditional.go
  services/orchestrator-go/internal/scheduler/gate.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator

feat(frontend): enable auto-connect with exponential backoff reconnection (#M14.3)
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/config/features.ts
  services/frontend/src/hooks/useStreamingTransport.ts
  services/frontend/src/stores/streaming/index.ts
  services/frontend/src/transport/connection-manager.ts
Due: frontend-lint

fix(frontend): harden transport reconnect loop for M10.5
  services/frontend/src/transport/__tests__/connection-manager.test.ts
  services/frontend/src/transport/connection-manager.ts
Due: frontend-lint

feat(mentatctl): improve dev run input ergonomics for #2
  cli/mentatctl/main.py
  tests/cli/test_mentatctl_dev_run_inputs.py
Due: none

feat(frontend): unify live connection authority controls (#42)
  docs/roadmap-reconciliation-2026-02-24.md
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/layout/__tests__/BottomDock.test.tsx
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
Due: frontend-lint

feat(frontend): canonicalize connection status surface (#43)
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/components/ui/__tests__/ConnectionStatusBanner.test.tsx
Due: frontend-lint

test(frontend): stabilize slow integration specs in CI
  services/frontend/src/components/mission-control/overlays/__tests__/ContractOverlay.spec.tsx
  services/frontend/src/components/mission-control/panels/__tests__/RunsPanel.spec.tsx
Due: frontend-lint

fix(frontend): clear runs panel toast timers on unmount
  services/frontend/src/components/mission-control/panels/RunsPanel.tsx
Due: frontend-lint

feat(frontend): centralize URL default resolution (#45)
  services/frontend/src/config/__tests__/orchestrator.test.ts
  services/frontend/src/config/orchestrator.ts
  services/frontend/src/services/api/apiService.ts
  services/frontend/src/services/api/streamingService.ts
Due: frontend-lint

orchestrator: harden DAG control-flow validation
  services/orchestrator-go/internal/validator/graph.go
  services/orchestrator-go/internal/validator/graph_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

orchestrator: harden DAG validation at start/clone and foreach runtime cap
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_runs.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/foreach_test.go
  services/orchestrator-go/internal/validator/graph.go
  services/orchestrator-go/pkg/types/control.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

ci/k8s: auto-deploy on main after e2e and harden minio init job
  .gitlab-ci.yml
  k8s/minio.yaml
Due: none

test(frontend): deflake ConsolePanel title test timeout
  services/frontend/src/components/mission-control/panels/__tests__/ConsolePanel.spec.tsx
Due: frontend-lint

ci: harden repo clone retries and deflake console panel test
  .gitlab-ci.yml
Due: none

ci: skip direct kubectl deploy when kubeconfig secret is absent
  .gitlab-ci.yml
Due: none

fix(frontend): use run-scoped websocket stream path in transport
  services/frontend/src/transport/__tests__/connection-manager.test.ts
  services/frontend/src/transport/connection-manager.ts
Due: frontend-lint

fix(frontend): stabilize websocket transport reconnect behavior
  services/frontend/src/transport/__tests__/connection-manager.test.ts
  services/frontend/src/transport/connection-manager.ts
Due: frontend-lint

test(frontend): add connection status surface regression coverage (#48)
  services/frontend/src/components/mission-control/layout/__tests__/ConnectionStatusSurface.test.tsx
Due: frontend-lint

feat(agents): add loom mcp executor adapter (#37)
  agents/loom-mcp-executor/Dockerfile
  agents/loom-mcp-executor/README.md
  agents/loom-mcp-executor/__init__.py
  agents/loom-mcp-executor/main.py
  agents/loom-mcp-executor/manifest.yaml
  agents/loom-mcp-executor/test_main.py
Due: none

feat(frontend): add MCP tool discovery to node palette (#41)
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/components/mission-control/canvas/__tests__/NodePalette.test.tsx
Due: frontend-lint

fix(gateway): preserve websocket hijacker in logging middleware
  services/gateway-go/middleware/logging.go
  services/gateway-go/middleware/logging_test.go
Due: go-vet-gateway, go-test-gateway, go-build-gateway

feat(frontend): seed dropped MCP tool nodes with executor metadata
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/components/mission-control/canvas/__tests__/NodePalette.test.tsx
  services/frontend/src/hooks/useCanvasDrop.ts
  services/frontend/src/stores/canvas/__tests__/canvas.test.ts
  services/frontend/src/stores/canvas/index.ts
  services/frontend/src/types/NodeOperations.ts
Due: frontend-lint

fix(frontend): resolve stuck autosave spinner and share save state
  .loom/00-mcp-inventory.md
  .loom/30-implementation-plan.md
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/ui/SaveStatusIndicator.tsx
  services/frontend/src/hooks/useAutoSave.ts
Due: frontend-lint

test(core): harden flow CRUD round-trip parity contracts
  services/frontend/src/services/api/__tests__/flowService.spec.ts
  services/orchestrator-go/internal/api/handlers_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix(frontend): harden autosave graph parity and conflict handling
  services/frontend/src/hooks/__tests__/useAutoSave.test.ts
  services/frontend/src/hooks/useAutoSave.ts
Due: frontend-lint

Path conditions:
  go-vet-gateway: any of: ^services/gateway-go/.*\.go$
  go-vet-orchestrator: any of: ^services/orchestrator-go/.*\.go$
  go-test-gateway: any of: ^services/gateway-go/.*\.go$
  go-test-orchestrator: any of: ^services/orchestrator-go/.*\.go$
  go-build-gateway: any of: ^services/gateway-go/.*\.go$
  go-build-orchestrator: any of: ^services/orchestrator-go/.*\.go$
  frontend-lint: any of: ^services/frontend/.*\.(ts|tsx|js|jsx)$
