Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go checks
  - repo: local
    hooks:
      - id: go-vet-gateway
        name: go vet (gateway-go)
        entry: bash -c 'cd services/gateway-go && go vet ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-vet-orchestrator
        name: go vet (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go vet ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-test-gateway
        name: go test (gateway-go)
        entry: bash -c 'cd services/gateway-go && go test ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-test-orchestrator
        name: go test (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go test ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-build-gateway
        name: go build (gateway-go)
        entry: bash -c 'cd services/gateway-go && go build ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-build-orchestrator
        name: go build (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go build ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd services/frontend && npm run lint'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3018']  # Allow apk add without version pinning

fix(frontend): resolve infinite update loop in IssuesPanel
  .agent-trace.txt
  .go-trace.txt
  .loom/31-m16-issue-checklist.md
  docs/architecture/ui/m16-baselines/README.md
  docs/roadmap-reconciliation-2026-02-25.md
  docs/roadmap-reconciliation-2026-02-26.md
  docs/roadmap-reconciliation-2026-02-27.md
  docs/roadmap-reconciliation-2026-03-01.md
  docs/roadmap-reconciliation-2026-03-02.md
  docs/roadmap-reconciliation-2026-03-03.md
  docs/roadmap-reconciliation-2026-03-04.md
  docs/roadmap-reconciliation-2026-03-05.md
  docs/roadmap-reconciliation-2026-03-06.md
  docs/roadmap-reconciliation-2026-03-07.md
  sdk/typescript/package-lock.json
  services/frontend/src/components/mission-control/panels/IssuesPanel.tsx
Due: frontend-lint

feat(orchestrator): M11.3 agent context integration and M11.1 execution adapter
  agents/common/__init__.py
  agents/common/context.py
  agents/loom-mcp-executor/Dockerfile
  agents/loom-mcp-executor/manifest.yaml
  docs/roadmap-reconciliation-2026-03-08.md
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/run_session.go
  services/orchestrator-go/internal/scheduler/run_session_loom.go
  services/orchestrator-go/internal/scheduler/run_session_loom_test.go
  services/orchestrator-go/internal/scheduler/run_session_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(frontend): remove outdated Re-run test from IssuesPanel.spec.tsx
  services/frontend/src/components/mission-control/panels/__tests__/IssuesPanel.spec.tsx
Due: frontend-lint

docs: formally mark M11.2 MentatLab MCP Server complete
  ROADMAP.md
Due: none

feat(m11.4): workflow bridge UI + MCP tool proxy
  AGENTS.md
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/utils/loomWorkflowBridge.ts
  services/orchestrator-go/internal/api/handlers_mcp.go
  services/orchestrator-go/internal/api/routes.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix(test): add useCanvasStore and loomWorkflowBridge mocks to TopBar tests
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
Due: frontend-lint

feat(frontend): manifest validator UI overlay
  services/frontend/src/components/mission-control/overlays/ManifestValidatorOverlay.tsx
  services/frontend/src/components/mission-control/overlays/__tests__/ManifestValidatorOverlay.test.tsx
  services/frontend/src/components/mission-control/panels/AgentBrowser.tsx
  services/frontend/src/services/api/agentService.ts
Due: frontend-lint

feat: agent hot reload endpoint and UI button
  services/frontend/src/components/mission-control/panels/AgentBrowser.tsx
  services/frontend/src/services/api/agentService.ts
  services/orchestrator-go/internal/api/handlers_agents.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/api/routes.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

test(frontend): add connection status surface regression coverage (#48)
  services/frontend/src/components/mission-control/layout/__tests__/ConnectionStatusSurface.test.tsx
Due: frontend-lint

fix(frontend): harden autosave graph parity and conflict handling
  services/frontend/src/hooks/__tests__/useAutoSave.test.ts
  services/frontend/src/hooks/useAutoSave.ts
Due: frontend-lint

test(frontend): align connection status regression mock to current layout
  services/frontend/src/components/mission-control/layout/__tests__/ConnectionStatusSurface.test.tsx
Due: frontend-lint

feat(orchestrator): honor retryable structured agent errors
  docs/agent-sdk.md
  services/orchestrator-go/internal/driver/driver_k8s_test.go
  services/orchestrator-go/internal/driver/driver_test.go
  services/orchestrator-go/internal/driver/k8s.go
  services/orchestrator-go/internal/driver/subprocess.go
  services/orchestrator-go/pkg/types/event.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

ci: bound buildctl attempts for hung buildkit sessions
  .gitlab-ci.yml
Due: none

chore: reconcile roadmap and frontend api cleanup
  ROADMAP.md
  services/frontend/src/services/api/orchestratorService.ts
Due: frontend-lint

feat: add structured error helpers to agent sdk templates
  agents/test_emit_contract.py
  cli/mentatctl/templates/go/src/main.go
  docs/agent-sdk.md
Due: none

feat: add heartbeat timeout handling for agent nodes
  services/frontend/src/__tests__/contracts/event-parsing.test.ts
  services/frontend/src/__tests__/contracts/run-api.test.ts
  services/frontend/src/schemas/event.schema.ts
  services/frontend/src/schemas/run.schema.ts
  services/frontend/src/types/api-contracts.ts
  services/frontend/src/types/orchestrator.ts
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/driver/driver_k8s_test.go
  services/orchestrator-go/internal/driver/driver_test.go
  services/orchestrator-go/internal/driver/heartbeat.go
  services/orchestrator-go/internal/driver/k8s.go
  services/orchestrator-go/internal/driver/subprocess.go
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

chore: reconcile structured error docs and roadmap links
  ROADMAP.md
  docs/agent-sdk.md
  services/orchestrator-go/pkg/types/event.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

chore: reconcile structured error docs and roadmap links
  docs/agent-sdk.md
Due: none

fix: prevent graph panel fit view render loop
  services/frontend/src/components/mission-control/panels/GraphPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/GraphPanel.test.tsx
Due: frontend-lint

fix: guard remaining reactflow auto-fit loops
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
Due: frontend-lint

fix: avoid redundant canvas selection updates
  services/frontend/src/stores/canvas/__tests__/canvas.test.ts
  services/frontend/src/stores/canvas/index.ts
Due: frontend-lint

fix(ci): stabilize frontend installs and docker builds
  .gitlab-ci.yml
Due: none

chore(ci): integrate tech-radar scanner
  .gitlab-ci.yml
Due: none

fix(ci): make docker build helper posix-safe
  .gitlab-ci.yml
Due: none

feat: enforce agent runtime capability constraints
  schemas/agent.schema.json
  services/frontend/src/__tests__/contracts/run-api.test.ts
  services/frontend/src/schemas/run.schema.ts
  services/orchestrator-go/internal/api/handlers_agents.go
  services/orchestrator-go/internal/api/handlers_capabilities_test.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_runs.go
  services/orchestrator-go/internal/api/plan_runtime.go
  services/orchestrator-go/internal/k8s/job.go
  services/orchestrator-go/internal/k8s/job_test.go
  services/orchestrator-go/internal/registry/memory.go
  services/orchestrator-go/internal/registry/registry.go
  services/orchestrator-go/internal/scheduler/agent_concurrency_test.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/internal/validator/graph.go
  services/orchestrator-go/internal/validator/graph_capabilities_test.go
  services/orchestrator-go/internal/validator/validator.go
  services/orchestrator-go/pkg/types/manifest.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

fix: wire orchestrator to remote MCP hub
  k8s/orchestrator.yaml
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
  services/frontend/src/hooks/useAutoSave.ts
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/go.mod
  services/orchestrator-go/go.sum
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/handlers_agents.go
  services/orchestrator-go/internal/api/handlers_capabilities_test.go
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_m7_test.go
  services/orchestrator-go/internal/api/handlers_mcp.go
  services/orchestrator-go/internal/api/handlers_mcp_test.go
  services/orchestrator-go/internal/api/handlers_runs.go
  services/orchestrator-go/internal/api/handlers_runs_test.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/api/plan_runtime.go
  services/orchestrator-go/internal/config/config.go
  services/orchestrator-go/internal/config/config_test.go
  services/orchestrator-go/internal/factories/factories.go
  services/orchestrator-go/internal/k8s/job.go
  services/orchestrator-go/internal/k8s/job_test.go
  services/orchestrator-go/internal/mcpclient/hub.go
  services/orchestrator-go/internal/mcpclient/hub_test.go
  services/orchestrator-go/internal/registry/defaults.go
  services/orchestrator-go/internal/registry/memory.go
  services/orchestrator-go/internal/registry/memory_test.go
  services/orchestrator-go/internal/registry/redis.go
  services/orchestrator-go/internal/registry/redis_test.go
  services/orchestrator-go/internal/registry/registry.go
  services/orchestrator-go/internal/scheduler/agent_concurrency_test.go
  services/orchestrator-go/internal/scheduler/node_exec.go
  services/orchestrator-go/internal/scheduler/node_exec_mcp_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/internal/validator/graph.go
  services/orchestrator-go/internal/validator/graph_capabilities_test.go
  services/orchestrator-go/internal/validator/validator.go
  services/orchestrator-go/pkg/types/manifest.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

feat: add structured error helpers to agent sdk
  agents/test_emit_contract.py
  cli/mentatctl/templates/go/src/main.go
  docs/agent-sdk.md
Due: none

feat(orchestrator): execute mcp nodes through hub
  README.md
  agents/loom-mcp-executor/main.py
  agents/loom-mcp-executor/test_main.py
  quick-start.sh
  run-local-dev.sh
  services/frontend/e2e/healthcheck.spec.ts
  services/frontend/e2e/testUtils.ts
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/WorkspaceProvider.tsx
  services/frontend/src/components/mission-control/layout/__tests__/BottomDock.test.tsx
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
  services/frontend/src/components/mission-control/layout/__tests__/WorkspaceProvider.test.tsx
  services/frontend/src/components/mission-control/panels/NetworkPanel.tsx
  services/frontend/src/components/mission-control/panels/RunsPanel.tsx
  services/frontend/src/components/mission-control/panels/TimelinePanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/NetworkPanel.test.tsx
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/components/ui/PanelShell.tsx
  services/frontend/src/index.css
  services/frontend/src/types/orchestrator.ts
Due: frontend-lint

feat(sdk): align progress heartbeat events
  agents/common/emit.py
  agents/test_emit_contract.py
  cli/mentatctl/templates/go/src/main.go
  docs/agent-sdk.md
  docs/references/agents-contract.md
  services/orchestrator-go/api/openapi.yaml
  services/orchestrator-go/pkg/types/event.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

docs(roadmap): refresh integration status
  .loom/00-index.md
  .loom/30-implementation-plan.md
  .loom/31-m16-issue-checklist.md
  ROADMAP.md
Due: none

feat(sdk): add TypeScript agent factory
  .gitignore
  .gitlab-ci.yml
  ROADMAP.md
  cli/mentatctl/templates/typescript/src/main.ts
  docs/agent-sdk.md
  sdk/typescript/README.md
  sdk/typescript/package.json
  sdk/typescript/src/agent.ts
  sdk/typescript/src/emit.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/agent-sdk.test.js
Due: none

feat(orchestrator): persist checkpoint resume state
  ROADMAP.md
  agents/common/emit.py
  agents/test_emit_contract.py
  cli/mentatctl/templates/go/src/main.go
  docs/agent-sdk.md
  services/orchestrator-go/internal/runstore/checkpoint_test.go
  services/orchestrator-go/internal/runstore/memory.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/runstore/store.go
  services/orchestrator-go/internal/scheduler/checkpoint_resume_test.go
  services/orchestrator-go/internal/scheduler/node_exec.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix: repair echo agent k8s image contract
  agents/test_input_contract.py
  services/agents/echo/Dockerfile
  services/agents/echo/src/main.py
Due: none

fix: validate heartbeat capability pairings
  ROADMAP.md
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/handlers_runs.go
  services/orchestrator-go/internal/api/handlers_runs_test.go
  services/orchestrator-go/internal/api/handlers_test.go
  services/orchestrator-go/internal/api/plan_validation.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix: reject cyclic flow graphs
  services/orchestrator-go/internal/api/flow_validation.go
  services/orchestrator-go/internal/api/handlers_flow_bridge.go
  services/orchestrator-go/internal/api/handlers_flows.go
  services/orchestrator-go/internal/api/handlers_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(frontend): improve mission canvas empty state
  services/frontend/src/components/mission-control/canvas/NodePalette.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/panels/InspectorPanel.tsx
  services/frontend/src/nodes/ChatNode.tsx
  services/frontend/src/nodes/PythonCodeNode.tsx
Due: frontend-lint

ci: publish mentatlab timestamp image tags
  .gitlab-ci.yml
  k8s/kustomization.yaml
Due: none

test(frontend): clear autosave idle timer on unmount
  services/frontend/src/hooks/useAutoSave.ts
Due: frontend-lint

chore(deploy): auto-update mentatlab images
  k8s/kustomization.yaml
Due: none
