Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go checks
  - repo: local
    hooks:
      - id: go-vet-gateway
        name: go vet (gateway-go)
        entry: bash -c 'cd services/gateway-go && go vet ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-vet-orchestrator
        name: go vet (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go vet ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-test-gateway
        name: go test (gateway-go)
        entry: bash -c 'cd services/gateway-go && go test ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-test-orchestrator
        name: go test (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go test ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-build-gateway
        name: go build (gateway-go)
        entry: bash -c 'cd services/gateway-go && go build ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-build-orchestrator
        name: go build (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go build ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd services/frontend && npm run lint'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3018']  # Allow apk add without version pinning

feat(websocket): finish auto-connect resilience
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/layout/__tests__/TopBar.test.tsx
  services/frontend/src/components/mission-control/layout/__tests__/WorkspaceProvider.test.tsx
  services/gateway-go/hub/hub.go
  services/gateway-go/hub/hub_test.go
  services/gateway-go/main.go
  services/gateway-go/main_test.go
Due: go-vet-gateway, go-test-gateway, go-build-gateway, frontend-lint

chore(deploy): auto-update mentatlab images
  k8s/kustomization.yaml
Due: none

feat(frontend): polish mission builder readiness
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/panels/AgentBrowser.tsx
  services/frontend/src/components/mission-control/panels/InspectorPanel.tsx
  services/frontend/src/components/mission-control/panels/__tests__/InspectorPanel.test.tsx
Due: frontend-lint

feat(frontend): standardize mission control shell
  .loom/31-m16-issue-checklist.md
  services/frontend/src/components/mission-control/layout/BottomDock.tsx
  services/frontend/src/components/mission-control/layout/LeftSidebar.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/layout/TopBar.tsx
  services/frontend/src/components/mission-control/panels/RunsPanel.tsx
  services/frontend/src/components/ui/Card.tsx
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/components/ui/PanelShell.tsx
  services/frontend/src/components/ui/__tests__/Button.test.tsx
  services/frontend/src/components/ui/button.tsx
  services/frontend/src/index.css
  services/frontend/tailwind.config.js
Due: frontend-lint

fix(orchestrator): repair SSE streaming (500 + reconnect panic)
  services/orchestrator-go/internal/api/middleware.go
  services/orchestrator-go/internal/api/middleware_flush_test.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/runstore/redis_subscribe_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(robustness): add fault-injection harness + feature-robustness plan
  .loom/00-index.md
  .loom/60-plan-feature-robustness-2026-06-23.md
  .loom/robustness-killtest-notes.md
  agents/sleep/main.py
  scripts/chaos/restart-midrun.sh
  scripts/chaos/sse-gap-check.mjs
Due: none

test(robustness): add fault-injection harness + feature-robustness plan (#4)
  .loom/00-index.md
  .loom/60-plan-feature-robustness-2026-06-23.md
  .loom/robustness-killtest-notes.md
  agents/sleep/main.py
  scripts/chaos/restart-midrun.sh
  scripts/chaos/sse-gap-check.mjs
Due: none

feat(orchestrator): recover interrupted runs on startup
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/runstore/recovery.go
  services/orchestrator-go/internal/runstore/recovery_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): recover interrupted runs on startup (#5)
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/runstore/recovery.go
  services/orchestrator-go/internal/runstore/recovery_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(orchestrator): no silent store fallback + consistent Redis URL parsing
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/factories/factories.go
  services/orchestrator-go/internal/factories/factories_test.go
  services/orchestrator-go/internal/flowstore/redis.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(orchestrator): no silent store fallback + consistent Redis URL parsing (#6)
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/factories/factories.go
  services/orchestrator-go/internal/factories/factories_test.go
  services/orchestrator-go/internal/flowstore/redis.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): drain in-flight runs on graceful shutdown
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/scheduler/drain_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): drain in-flight runs on graceful shutdown (#7)
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/scheduler/drain_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(orchestrator): make gate timeout fail-safe (reject by default)
  services/orchestrator-go/internal/scheduler/gate.go
  services/orchestrator-go/internal/scheduler/gate_timeout_test.go
  services/orchestrator-go/pkg/types/control.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(orchestrator): make gate timeout fail-safe (reject by default) (#8)
  services/orchestrator-go/internal/scheduler/gate.go
  services/orchestrator-go/internal/scheduler/gate_timeout_test.go
  services/orchestrator-go/pkg/types/control.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(orchestrator): SSE + runstore parity tests, fix memory replay, CI coverage floor
  .gitlab-ci.yml
  services/orchestrator-go/internal/api/sse_test.go
  services/orchestrator-go/internal/runstore/event_parity_test.go
  services/orchestrator-go/internal/runstore/memory.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(orchestrator): SSE + runstore parity tests, fix memory replay, CI coverage floor (#9)
  .gitlab-ci.yml
  services/orchestrator-go/internal/api/sse_test.go
  services/orchestrator-go/internal/runstore/event_parity_test.go
  services/orchestrator-go/internal/runstore/memory.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

test(frontend): cover SSE streaming pipeline + fix event drop on destroy
  services/frontend/src/services/streaming/orchestratorSSE.test.ts
  services/frontend/src/services/streaming/parse.test.ts
  services/frontend/src/transport/event-pipeline.test.ts
  services/frontend/src/transport/event-pipeline.ts
  services/frontend/vitest.config.ts
Due: frontend-lint

test(frontend): cover SSE streaming pipeline + fix event drop on destroy (#10)
  services/frontend/src/services/streaming/orchestratorSSE.test.ts
  services/frontend/src/services/streaming/parse.test.ts
  services/frontend/src/transport/event-pipeline.test.ts
  services/frontend/src/transport/event-pipeline.ts
  services/frontend/vitest.config.ts
Due: frontend-lint

feat(orchestrator): enforce API-key scopes per endpoint
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/auth/middleware.go
  services/orchestrator-go/internal/auth/oauth.go
  services/orchestrator-go/internal/auth/scope_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): enforce API-key scopes per endpoint (#11)
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/auth/middleware.go
  services/orchestrator-go/internal/auth/oauth.go
  services/orchestrator-go/internal/auth/scope_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(orchestrator): harden webhook auth + dedup cron triggers
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/webhook_test.go
  services/orchestrator-go/internal/scheduler/cron.go
  services/orchestrator-go/internal/scheduler/cron_dedup_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

fix(orchestrator): harden webhook auth + dedup cron triggers (#12)
  services/orchestrator-go/internal/api/handlers_m5m6.go
  services/orchestrator-go/internal/api/webhook_test.go
  services/orchestrator-go/internal/scheduler/cron.go
  services/orchestrator-go/internal/scheduler/cron_dedup_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): persist cron schedules across restart
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/scheduler/cron.go
  services/orchestrator-go/internal/scheduler/schedule_store.go
  services/orchestrator-go/internal/scheduler/schedule_store_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(orchestrator): persist cron schedules across restart (#13)
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/scheduler/cron.go
  services/orchestrator-go/internal/scheduler/schedule_store.go
  services/orchestrator-go/internal/scheduler/schedule_store_test.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator
