Repository flexinfer/mentatlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go checks
  - repo: local
    hooks:
      - id: go-vet-gateway
        name: go vet (gateway-go)
        entry: bash -c 'cd services/gateway-go && go vet ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-vet-orchestrator
        name: go vet (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go vet ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-test-gateway
        name: go test (gateway-go)
        entry: bash -c 'cd services/gateway-go && go test ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-test-orchestrator
        name: go test (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go test ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

      - id: go-build-gateway
        name: go build (gateway-go)
        entry: bash -c 'cd services/gateway-go && go build ./...'
        language: system
        files: ^services/gateway-go/.*\.go$
        pass_filenames: false

      - id: go-build-orchestrator
        name: go build (orchestrator-go)
        entry: bash -c 'cd services/orchestrator-go && go build ./...'
        language: system
        files: ^services/orchestrator-go/.*\.go$
        pass_filenames: false

  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd services/frontend && npm run lint'
        language: system
        files: ^services/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3018']  # Allow apk add without version pinning

chore(scripts): make pre-commit executable
  scripts/pre-commit
Due: none

feat(api): add flow management and persistence
  services/frontend/src/services/api/flowService.ts
  services/frontend/src/services/api/index.ts
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/flowstore/memory.go
  services/orchestrator-go/internal/flowstore/memory_test.go
  services/orchestrator-go/internal/flowstore/redis.go
  services/orchestrator-go/internal/flowstore/store.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator, frontend-lint

feat(ui): add command palette to mission control
  CLAUDE.md
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/ui/CommandPalette.tsx
Due: frontend-lint

feat(ui): add panel error boundaries and connection banner
  CLAUDE.md
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/ui/ConnectionStatusBanner.tsx
  services/frontend/src/components/ui/PanelErrorBoundary.tsx
Due: frontend-lint

feat: Introduce OpenTelemetry tracing, Prometheus metrics, and structured logging across gateway and orchestrator services.
  services/gateway-go/go.mod
  services/gateway-go/go.sum
  services/gateway-go/main.go
  services/gateway-go/metrics/metrics.go
  services/gateway-go/middleware/logging.go
  services/gateway-go/middleware/tracing.go
  services/gateway-go/tracing/tracing.go
  services/orchestrator-go/cmd/orchestrator/main.go
  services/orchestrator-go/engine/engine.go
  services/orchestrator-go/go.mod
  services/orchestrator-go/go.sum
  services/orchestrator-go/internal/api/middleware.go
  services/orchestrator-go/internal/api/routes.go
  services/orchestrator-go/internal/auth/middleware.go
  services/orchestrator-go/internal/driver/k8s.go
  services/orchestrator-go/internal/driver/subprocess.go
  services/orchestrator-go/internal/k8s/watch.go
  services/orchestrator-go/internal/metrics/metrics.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/internal/tracing/tracing.go
  services/orchestrator-go/main.go
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator

feat: add WebSocket security, artifact API, NetworkPolicy, and HPA
  .gitlab-ci.yml
  k8s/hpa.yaml
  k8s/network-policies.yaml
  services/gateway-go/Dockerfile
  services/gateway-go/hub/client.go
  services/gateway-go/hub/hub.go
  services/gateway-go/hub/hub_test.go
  services/gateway-go/main.go
  services/gateway-go/middleware/auth.go
  services/orchestrator-go/Dockerfile
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/routes.go
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator

fix(ci): correct buildctl multi-tag output syntax
  .gitlab-ci.yml
Due: none

feat(frontend): add flow auto-save and Agent SDK documentation
  docs/agent-sdk.md
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/ui/SaveStatusIndicator.tsx
  services/frontend/src/hooks/useAutoSave.ts
Due: frontend-lint

feat(dx): add Sprint 5 developer experience improvements
  .gitlab-ci.yml
  .vscode/launch.json
  .vscode/tasks.json
  Makefile
  cli/mentatctl/agent_commands.py
  cli/mentatctl/main.py
  services/gateway-go/.air.toml
  services/orchestrator-go/.air.toml
Due: none

fix(ci): configure DinD for K8s-based GitLab runners
  .gitlab-ci.yml
Due: none

feat(frontend): persist panel layout and add quick-fix applier
  k8s/echoagent.yaml
  k8s/frontend.yaml
  k8s/redis.yaml
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/services/mission-control/services.ts
  services/frontend/src/store/index.ts
Due: frontend-lint

feat: Sprint 7 - ServiceMonitor, quick-fix UI, CLI runs, tests
  cli/mentatctl/main.py
  cli/mentatctl/requirements.txt
  cli/mentatctl/runs_commands.py
  k8s/servicemonitor.yaml
  services/frontend/src/components/mission-control/overlays/ContractOverlay.tsx
  services/frontend/src/components/mission-control/panels/IssuesPanel.tsx
  services/frontend/src/services/mission-control/services.test.tsx
Due: frontend-lint

feat: Sprint 8 - Core Workflow Polish
  services/frontend/src/App.tsx
  services/frontend/src/components/mission-control/layout/MissionControlLayout.tsx
  services/frontend/src/components/mission-control/menus/NodeContextMenu.tsx
  services/frontend/src/components/mission-control/overlays/ContractOverlay.tsx
  services/frontend/src/components/mission-control/panels/ConsolePanel.tsx
  services/frontend/src/components/mission-control/panels/GraphPanel.tsx
  services/frontend/src/components/mission-control/panels/IssuesPanel.tsx
  services/frontend/src/components/ui/Toast.tsx
  services/frontend/src/contexts/ToastContext.tsx
  services/frontend/src/hooks/useKeyboardShortcuts.ts
  services/frontend/src/services/api/orchestratorService.ts
  services/frontend/src/store.ts
  services/frontend/src/store/index.ts
  services/frontend/src/types/orchestrator.ts
  services/gateway-go/hub/hub.go
  services/gateway-go/metrics/metrics.go
  services/gateway-go/middleware/auth.go
  services/gateway-go/middleware/errors.go
  services/gateway-go/middleware/logging.go
  services/orchestrator-go/internal/api/errors.go
  services/orchestrator-go/internal/api/handlers.go
  services/orchestrator-go/internal/api/middleware.go
  services/orchestrator-go/internal/api/sse.go
  services/orchestrator-go/internal/metrics/metrics.go
Due: go-vet-gateway, go-vet-orchestrator, go-test-gateway, go-test-orchestrator, go-build-gateway, go-build-orchestrator, frontend-lint

fix(docker): correct orchestrator port in dev compose
  docker-compose.dev.yml
Due: none

feat: add cost estimator and CLI shell completions
  cli/mentatctl/main.py
  services/frontend/src/services/mission-control/services.ts
Due: frontend-lint

docs(agents): add planning section to AGENTS.md
  AGENTS.md
  ROADMAP.md
Due: none

docs: standardize agents.md, roadmap.md and add hero banner
  README.md
  assets/banner.png
Due: none

docs: populate roadmap with current status and future plans
  ROADMAP.md
Due: none

feat(orchestrator): add control flow support for conditional branching and loops
  services/orchestrator-go/go.mod
  services/orchestrator-go/go.sum
  services/orchestrator-go/internal/runstore/memory.go
  services/orchestrator-go/internal/runstore/redis.go
  services/orchestrator-go/internal/runstore/store.go
  services/orchestrator-go/internal/scheduler/conditional.go
  services/orchestrator-go/internal/scheduler/conditional_test.go
  services/orchestrator-go/internal/scheduler/expr.go
  services/orchestrator-go/internal/scheduler/expr_test.go
  services/orchestrator-go/internal/scheduler/foreach.go
  services/orchestrator-go/internal/scheduler/foreach_test.go
  services/orchestrator-go/internal/scheduler/scheduler.go
  services/orchestrator-go/pkg/types/control.go
  services/orchestrator-go/pkg/types/event.go
  services/orchestrator-go/pkg/types/run.go
Due: go-vet-orchestrator, go-test-orchestrator, go-build-orchestrator

feat(frontend): add control flow node components and event handling
  services/frontend/src/components/mission-control/panels/GraphPanel.tsx
  services/frontend/src/components/mission-control/panels/config/ConditionalConfigPanel.tsx
  services/frontend/src/components/mission-control/panels/config/ForEachConfigPanel.tsx
  services/frontend/src/components/mission-control/panels/config/index.ts
  services/frontend/src/components/mission-control/panels/graph/NodeCard.tsx
  services/frontend/src/components/mission-control/panels/graph/useRunGraph.ts
  services/frontend/src/nodes/ConditionalNode.tsx
  services/frontend/src/nodes/ForEachNode.tsx
  services/frontend/src/nodes/index.ts
  services/frontend/src/types/orchestrator.ts
Due: frontend-lint

chore(k8s): add Kustomization and update ingress for GitOps deployment
  k8s/ingress.yaml
  k8s/kustomization.yaml
Due: none

ci(gitlab): update gitlab-ci stages and add deploy job
  .gitlab-ci.yml
Due: none

fix(ci): run E2E tests after build stage
  .gitlab-ci.yml
  docker-compose.yml
Due: none

fix(docker): add curl to Alpine images for healthchecks
  services/gateway-go/Dockerfile
  services/orchestrator-go/Dockerfile
Due: none

fix(gateway): apply default values for zero rate limiter config fields
  services/gateway-go/middleware/ratelimit.go
Due: go-vet-gateway, go-test-gateway, go-build-gateway

chore(ui): update banner image
  assets/banner.png
Due: none

fix(ci): use case-insensitive grep for frontend E2E test
  .gitlab-ci.yml
Due: none

feat(ci): implement actual K8s deployment in deploy stage
  .gitlab-ci.yml
Due: none

feat(ci): configure cache proxies for all build stages
  .gitlab-ci.yml
  agents/ctm-cogpack/Dockerfile
  services/frontend/Dockerfile
  services/gateway-go/Dockerfile
  services/orchestrator-go/Dockerfile
Due: none

fix(ctm-cogpack): install torch from PyPI to bypass corrupted devpi cache
  agents/ctm-cogpack/Dockerfile
Due: none

chore: add generated icon
  assets/icon.png
Due: none

fix(ci): use alpine/k8s:1.31.0 for deploy job
  .gitlab-ci.yml
Due: none

perf(docker): add BuildKit cache mounts for faster builds
  agents/ctm-cogpack/Dockerfile
  services/frontend/Dockerfile
  services/gateway-go/Dockerfile
  services/orchestrator-go/Dockerfile
Due: none

fix(k8s): use labels instead of commonLabels to avoid selector conflicts
  .gitlab-ci.yml
  k8s/kustomization.yaml
Due: none

fix(ci): add --force-conflicts to take ownership from Flux
  .gitlab-ci.yml
Due: none

fix(k8s): add vite-temp volume for frontend readOnlyRootFilesystem
  k8s/frontend.yaml
Due: none

fix(k8s): correct frontend network policy port from 80 to 5173
  k8s/network-policies.yaml
Due: none

fix(k8s): change image tags from v1.0.0 to latest
  k8s/echoagent.yaml
  k8s/frontend.yaml
  k8s/gateway.yaml
  k8s/orchestrator.yaml
Due: none

chore(config): add local hookify reminders
  .claude/hookify.ci-monitoring.local.md
  .claude/hookify.kubectl-mutations.local.md
  .claude/hookify.roadmap-reminder.local.md
Due: none

fix(frontend): fix console logging and light mode CSS
  services/frontend/src/components/mission-control/panels/console/useRunConsole.ts
  services/frontend/src/index.css
  services/frontend/src/services/streaming/parse.ts
Due: frontend-lint
